* {
  box-sizing: border-box;
}

body {
  text-wrap: nowrap;
  margin: 0;
  height: 100%;
  padding-top: 50px;
}

button {
  height: 18px;
  font-size: 12px;
}

span {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  font-size: 16px;
  margin: 0;
}

#bg-modal {
  background-color: burlywood;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: none; */
}

.modal {
  position: fixed;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.container-main {
  display: flex;
  justify-content: space-around;
}

.panel-inventory,
.panel-elements {
  border-style: solid;
}

.header-inventory,
.header-donut {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-elements,
.header-element {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

.type {
  border-color: brown;
}

.shape {
  border-color: blue;
}

.filling {
  border-color: green;
}

.topping {
  border-color: orange;
}

.panel-elements {
  text-align: right;
}
