body {
  text-wrap: nowrap;
}

button {
  height: 18px;
  font-size: 12px;
}

.container-main {
  display: flex;
  justify-content: space-around;
}

.header-inventory,
.header-donut {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-elements,
.header-element {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

span {
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  font-size: 16px;
}

.type {
  border-color: brown;
}

.shape {
  border-color: blue;
}

.filling {
  border-color: green;
}

.topping {
  border-color: orange;
}

.panel-elements {
  text-align: right;
}
