* {
  box-sizing: border-box;
}

body {
  text-wrap: nowrap;
  margin: 0;
  height: 100%;
  padding-top: 50px;
}

button {
  height: 18px;
  width: fit-content;
  font-size: 12px;
}

textarea {
  resize: none;
}

span {
  height: 28px;
  min-width: 28px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  font-size: 16px;
  margin: 0;
}

#add-element-donut {
  height: 28px;
  min-width: 28px;
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 16px;
  margin: 0;
}

#bg-modal {
  background-color: burlywood;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 12px 12px 12px 12px;
}

.container-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-cont-form,
.submit-cont-form {
  display: flex;
  justify-content: end;
}

.container-main {
  display: flex;
  justify-content: space-around;
}

.panel-elements {
  text-align: right;
}

.header-inventory,
.donut-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-elements,
.element-header {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

.donut-elements-cont,
.elements-cont-donut,
.element-cont-elements {
  display: flex;
  gap: 4px;
}

.menu-elements-cont-donut {
  display: none;
  gap: 4px;
}

.element-cont-elements {
  justify-content: end;
}

.type {
  border-color: brown;
}

.shape {
  border-color: blue;
}

.filling {
  border-color: green;
}

.topping {
  border-color: orange;
}
